*
{
    margin: 0;
    padding: 0;
    font-style: 'Lato', sans-serif;
}

header
{
    height: 30vh;
    width: 100%;
    background: url('./images/headerBackground.jpg');
    background-size: 100% 100%;
    box-shadow: 0px -0px 30px #000;
    padding: 1.5rem;
    box-sizing: border-box;
}

header::after
{
    content: '';
    background: linear-gradient(180deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%);
    width: 100%;
    height:30px;
    position: absolute;
    left: 0;
    top: 30vh;
    z-index: 500;
    pointer-events: none;
}

.searchIp
{
    margin: 0 auto;
    width: 80%;
    height: 2.5rem;
    display: flex;
    overflow: hidden;
    border-radius: 1rem;
}

.searchInput
{
    width: 90%;
    height: 100%;
    font-size: 1.25rem;
    background-color: #ddd;
    outline: none;
    border: none;
    padding: 0 0.25em;
}

.searchBtn
{
    width: 20%;
    height: 100%;
    border: none;
    background-color: #222;
    color: #ddd;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ipInformation
{
    position: absolute;
    z-index: 1100;
    width: 75%;
    height: 4rem;
    background-color: #fefefe;
    border-radius: 20px;
    overflow: hidden;
    padding: 1rem;
    left: 50%;
    transform: translateX(-50%);
    top: 17vh;
    text-align: center;
    box-shadow: 0 10px 30px #000;
}

.showDrpodownBtn
{
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    right: 0.75rem;
    top: 2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aaa;
    border: none;
    border-radius: 10px;
    z-index: 1200;
}

.ipInformation > *
{
    margin-bottom: 1.5rem;
}

.divTitle
{
    font-weight: 700;
    font-size: 1rem;
    color: #777;
    width: 60%;
    margin: auto;
    display: block;
    border-bottom: 2px solid #333;
    margin-bottom: 0.75rem;
}

.ipInformation-ipNumber,
.ipInformation-location,
.ipInformation-ispInfo
{
    font-size: 1.25rem;
    font-weight: 600;
}

.ipInformation-location
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ipInformation-location > *
{
    margin-bottom: 0.5rem;
}

.ipInformation-location-country
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin: auto;
    width: 80%;
    margin-top: 0.75rem;
}

.ipInformation-location-country-flag
{
    margin-right: 1rem;
}

.ipInformation-location-regCity
{
    margin-top: 0.5rem;
    font-weight: 400;
}

.ipInformation-ispInfo-org
{
    margin-top: 0.5rem;
    font-weight: 400;
}

#map {
    width: 100vw;
    height: 70vh;
}

@media screen and (min-width:800px) {
    header
    {
        background-size: cover;
    }

    .searchIp
    {
        width: 30%;
    }

    .ipInformation
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 6rem;
        padding: 0.5rem;
        height: 6rem;
    }

    .showDrpodownBtn
    {
        display: none;
    }

    .divTitle
    {
        width: 90%;
        text-align: left;
        font-size: 1.1rem;
    }

    .ipInformation-ipNumber,
    .ipInformation-location
    {
        border-right: 2px solid rgb(100, 100, 100);
        height: 100%;
    }

    .ipInformation-ipNumber
    {
        font-size: 1.5rem;
    }

    .ipInformation-location
    {
        display: flex;
    }

    .ipInformation-location-country
    {
        font-size: 1.3rem;
    }

    .ipInformation-location-country-flag
    {
        margin-right: 0.5rem;
    }

    .ipInformation-location-country,
    .ipInformation-location-regCity
    {
        display: inline;
        width: fit-content;
        margin-top: 0.1rem;
    }

    .ipInformation-ispInfo-ispName,
    .ipInformation-ispInfo-ispOrg
    {
        width: 100%;
        line-height: 1rem;
    }
}